.container-fluid { 
	padding: 0;
}

.image-background{
	background: linear-gradient( rgba(0, 0, 0, 0.6), 
		rgba(0, 0, 0, 0.6) ), url("imgs/words.jpg");
	background-size: cover;
	color: white;
	padding: 0 13px;
}

hr {
  height:3px;
  background-color: white;
}

.label {
	font-size: 20px;
}

.transparent-form {
	opacity: 80%;
}

.list-answer {
	font-size: 18px;
}


/*ANSWERS*/

#answers-container {
	min-height: 60vh;
	background: rgba(30, 30, 0, 0.5);
	color: white;
	padding-top: 5px;
}