.image-background{
	background: linear-gradient( rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5) ), url("imgs/words.jpg");
	background-size: cover;
	color: white;
	height: 100vh;
}

hr {
  height: 4px;
  background-color: white;
}

.label {
	font-size: 20px;
}

.transparent-form {
	opacity: 80%;
}

/* needed?*/
.list-answer {
	font-size: 18px;
}

#answers-list {
	font-size: 2rem;
}

/*PHONE STYLES*/
@media screen and (max-width: 600px) {

  #answers-list {
		font-size: 1rem;
	}
}